
<div class="container container-fluid bg-primary text-white">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="#/">Space Invaders ****.s22222   </a>
      </div>
    </nav>
    <div ng-view></div>
  </div>

<!--
  <div class="container">
    <footer>
      <h4>zone-here</h4>
    </footer>
  </div>
-->
