
  <div class="container container-fluid">
    <nav class="navbar navbar-default">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#/">{{appName}}</a>
      </div>
    </nav>
    <div ng-view></div>
  </div>

  <div class="container">
    <footer>
      <h4>zone-here-ddddd</h4>
      <h4>Version 1.3</h4>
    </footer>
  </div>
